{% extends 'animouth/base.html'%}
{% load static %}

{%block content%}

<div class="carrousel">
    <div class="container">
        <div class="slider-wrapper">
            <h1>Tendances du moment</h1>
            <div class="slider">
                <img id="slide-1" src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
                <img id="slide-2" src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
                <img id="slide-3" src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
                <img id="slide-4" src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
                <img id="slide-5" src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
                <a href="#slide-5"></a>
            </div>
        </div>
    </div>
</div>
    

<!-- home -->
<!-- Body -->
<section class="little-food">
    <div class="little-food_box">
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
    </div>
</section>
<section class="little-food">
    <h1></h1>
    <div class="little-food_box">
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
    </div>
</section>
<section class="little-food">
    <h1></h1>
    <div class="little-food_box">
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
        <div class="box">
            <h3>AniMouth</h3>
            <hr>
            <img src="{%static 'animouth/images/AniMouth_mask.svg'%}" alt="not found">
            <hr>
            <h3>Prix : xxxx FCFA</h3>
        </div>
    </div>
</section>
<section>
    <!--    Navigation  -->
    <div class="nav">
        <button class="page"><a href="index.html">1</a></button>
        <button class="page"><a href="page 2.html">2</a></button>
        <button class="page"><a href="page 3.html">3</a></button>
        <button class="page"><a href="page 4.html">4</a></button>
        <button class="page"><a href="page 5.html">5</a></button>
    </div>
</section>
<!-- Body -->


{%endblock content%}